


<app-create-component (newMemeEvent)="addMemeToList($event)" (updateGameEvent)="updateList($event)"></app-create-component>
<mat-form-field>
<input matInput #contentTitle value="Default Value">
</mat-form-field>
<button mat-flat-button color="primary" (click)="submitInput(contentTitle.value)">Click this button to check if it exists</button>
<ul>
  <li><h2>Good Memes</h2></li>
  <li *ngFor="let content of contentList | searchType: 'Good-Meme'; index as i; last as isLast" class="Good-Memes" [class.is-last]="isLast">
    <div class="content-{{content.id}}">
      <img class="trebuchet-image" *ngIf="content.imgUrl; else elseBlock" src="{{content.imgUrl}}" (click)="onClickMe(content.id)" >
      <ng-template #elseBlock><img src="https://upload.wikimedia.org/wikipedia/commons/1/18/Mang2.png"></ng-template>
      <h1 appHoverStyle [type]="'title'" class="title">{{content.title}}</h1>
      <a [routerLink]="['/content', content.id]" routerLinkActive="active">Meme Detail</a><br>
    </div>
  </li>
  <li><h2>Bad Memes</h2></li>
  <li *ngFor="let content of contentList | searchType: 'Bad-Meme'; index as i; last as isLast" class="Bad-memes" [class.is-last]="isLast">
    <div class="content-{{content.id}}">
      <img class="trebuchet-image" *ngIf="content.imgUrl; else elseBlock" src="{{content.imgUrl}}" (click)="onClickMe(content.id)" >
      <ng-template #elseBlock><img class="default-image" src="https://upload.wikimedia.org/wikipedia/commons/1/18/Mang2.png"></ng-template>
      <h1 appHoverStyle [type]="'title'" class="title">{{content.title}}</h1>
      <a [routerLink]="['/content', content.id]" routerLinkActive="active">Meme Detail</a><br>
    </div>
  </li>
</ul>

