
<div class="meme">
  <h1 appHoverStyle [type]="'title'" class="title">{{content.title}}</h1>
  <img class="trebuchet-image" *ngIf="content.imgUrl; else elseBlock" src="{{content.imgUrl}}" >
  <ng-template #elseBlock><img src="https://upload.wikimedia.org/wikipedia/commons/1/18/Mang2.png"></ng-template>
  <div class="author">{{content.author}}</div>
  <div class="body">{{content.body}}</div>
  <div class="type" *ngIf="content.type">{{content.type}}</div>
  <div *ngFor="let tag of content.tags; index as i;" class="tag-{{i}}">
    <div appHoverStyle [type]="'tag'" *ngIf="content.tags">{{tag}}</div>
  </div>
</div>

